<!DOCTYPE html>
<html ng-app="ayler" ng-controller="MainCtrl">
  <head>
    <link rel="stylesheet" href="/css/dependencies.css" type="text/css" />
    <link rel="stylesheet" href="/css/app.css" type="text/css" />
    <script src="/js/dependencies.js"></script>
    <script src="/js/app.js"></script>
    <title>{{title}}</title>
  </head>
  <body>
    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <a href="/" class="brand">Ayler</a>
          <ul class="nav pull-right">
            <li class="divider-vertical"></li>
            <li>
              <a  href="#" id="show-all-ns-modal">
                <i class="icon-search" title="Search all available namespaces"></i>
              </a>
            </li>
            <li class="divider-vertical"></li>
            <li>
              <a href="#">
                <i class="icon-refresh" title="Refresh namespaces"></i>
              </a>
            </li>
            <li class="divider-vertical"></li>
            <li>
              <a href="#">
                <i class="icon-off" title="Disconnect"></i>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="alert alert-block alert-error" id="errors"
           ng-show="state.errors[0]">
        <p><strong>Error(s):</strong></p>
        <ul>
          <li>{{error}}</li>
        </ul>
        <button class="btn" type="button">
          Dismiss
        </button>
      </div>
      <div class="container row">
        <div class="container span6">
          <div class="filter">
            <form class="form-search span3">
              <input type="text" class="input-medium search-query" name="nses"
                     placeholder="Filter namespaces" ng-model="nses"/>
            </form>
            <img src="img/ajax-loader.gif" ng-show="state.nsListBusy">
          </div>
        </div>
        <div class="container span6">
          <div class="filter">
            <form class="form-search span3">
              <input type="text" class="input-medium search-query" name="vrs"
                     placeholder="Filter vars"/>
            </form>
            <img src="img/ajax-loader.gif">
          </div>
        </div>
      </div>
      <div class="container span6 list-window nses-window">
        <ul>
          <li ng-repeat="ns in state.nsList | filter:nses">
            <a ng-href="#/{{ns.url}}">{{ns.name}}</a>
          </li>
        </ul>
      </div>
      <div class="container span6 list-window vrs-window">
        <ul>
          <li>
            <a>{{var.name}}</a>
          </li>
        </ul>
      </div>
      <div ng-show="state.doc">
        <p>hello: {{ state.doc }}</p>
      </div>
      <div ng-view></div> <!-- Do not remove this line! -->
    </div>
    <div id="connectForm" class="modal hide fade">
      <div class="modal-header">
        <h3>Connect to remote nrepl</h3>
      </div>
      <div class="alert alert-error">
        You seem to be disconnected from the nrepl server. Please
        reconnect!
      </div>
      <form>
        <div class="modal-body">
          <!-- Insert error here -->
          <label>Host</label>
          <input type="text" placeholder="Default: Localhost"
                 name="port" />
          <label>Port</label>
          <input type="text" name="host" />
        </div>
        <div class="modal-footer">
          <input type="submit" id="submit" value="Submit"
                 class="btn btn-inverse" />
        </div>
      </form>
    </div>
    <div id="allNsModal" class="modal hide fade">
      <div class="modal-header">
        <h3>All namespaces in classpath</h3>
      </div>
      <form>
        <div class="modal-body">
          <p>
            Select a namespace from the list below to be loaded into
            your REPL. When submitting you'll see the documentation
            for this namespace.
          </p>
          <div class="alert alert-block">
            <h4>Notice!</h4>
            In order to use this feature you must
            add <em>org.clojure/tools.namespace</em>
            and <em>org.clojure/java.classpath</em> to your project
            dependencies. Otherwise you'll get
            a <em>FileNotFoundException</em> error.
          </div>
          <input type="text" class="input-medium" name="nsFilter"
                 placeholder="Filter namespaces" />
          <select class="input-xxlarge" size="8"></select>
        </div>
        <div class="modal-footer">
          <button class="btn" data-dismiss="modal" aria-hidden="true">Cancel</button>
          <input class="btn btn-inverse" type="submit" value="Submit"/>
        </div>
      </form>
    </div>
  </body>
</html>
