<!DOCTYPE html>
<html ng-app="ayler" ng-controller="MainCtrl">
  <head>
    <link rel="stylesheet" href="/css/dependencies.css" type="text/css" />
    <link rel="stylesheet" href="/css/app.css" type="text/css" />
    <script src="/js/dependencies.js"></script>
    <script src="/js/app.js"></script>
    <title>{{state.title}}</title>
  </head>
  <body>
    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <a href="/" class="brand">Ayler</a>
          <ul class="nav pull-right">
            <li class="divider-vertical"></li>
            <li>
              <a  href="#" ng-click="loadSearchNses($event)" id="show-search-ns-modal">
                <i class="icon-search" title="Search all available namespaces"></i>
              </a>
            </li>
            <li class="divider-vertical"></li>
            <li>
              <a href="#" ng-click="reloadNses($event)">
                <i class="icon-refresh" title="Refresh namespaces"></i>
              </a>
            </li>
            <li class="divider-vertical"></li>
            <li>
              <a href="#" ng-click="disconnect($event)">
                <i class="icon-off" title="Disconnect"></i>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="container">
      <div errors></div>
      <div class="container row">
        <div class="container span6">
          <div class="filter">
            <form class="form-search span3">
              <input type="text" class="input-medium search-query" name="nses"
                     placeholder="Filter namespaces" ng-model="nses"/>
            </form>
            <img src="img/ajax-loader.gif" ng-show="state.nsListBusy">
          </div>
        </div>
        <div class="container span6">
          <div class="filter">
            <form class="form-search span3">
              <input type="text" class="input-medium search-query" name="vrs"
                     placeholder="Filter vars" ng-model="state.vrs"/>
            </form>
            <img src="img/ajax-loader.gif" ng-show="state.varListBusy">
          </div>
        </div>
      </div>
      <div class="container span6 list-window nses-window">
        <ul>
          <li ng-repeat="ns in state.nsList | filter:nses">
            <a ng-href="#/{{ns | escape}}">{{ns}}</a>
          </li>
        </ul>
      </div>
      <div class="container span6 list-window vrs-window">
        <ul>
          <li ng-repeat="var in state.varList | filter:state.vrs">
            <a ng-href="#/{{state.escapedNamespace}}/{{var | escape}}">{{var}}</a>
          </li>
        </ul>
      </div>
      <h2 ng-show="state.symbolName"><small>{{state.symbolName}}</small></h2>
      <div ng-show="state.displayDoc">
        <h3><small>Docstring</small></h3>
        <img src="img/ajax-loader.gif"/ ng-show="state.docBusy">
        <pre id="docstring">{{state.doc}}</pre>
      </div>
      <div ng-show="state.displaySource">
        <h3><small>Source</small></h3>
        <img src="img/ajax-loader.gif"/ ng-show="state.sourceBusy">
        <div class="highlighter">
          <pre id="source" ng-bind-html-unsafe="state.source"></pre>
        </div>
      </div>
      <div ng-view></div> <!-- Do not remove this line! -->
    </div>
    <div id="connectForm" class="modal hide fade">
      <div class="modal-header">
        <h3>Connect to remote nrepl</h3>
      </div>
      <div ng-show="disconnected" class="alert alert-error">
        You seem to be disconnected from the nrepl server. Please
        reconnect!
      </div>
      <div errors></div>
      <form ng-submit="connect()">
        <div class="modal-body">
          <!-- Insert error here -->
          <label>Host</label>
          <input type="text" placeholder="Default: Localhost"
                 ng-model="remoteHost" name="host" />
          <label>Port</label>
          <input type="text" name="port" ng-model="remotePort" />
        </div>
        <div class="modal-footer">
          <input type="submit" id="submit" value="Submit"
                 class="btn btn-inverse" />
        </div>
      </form>
    </div>
    <div id="searchNsModal" class="modal hide fade">
      <div class="modal-header">
        <h3>Search all namespaces in classpath</h3>
      </div>
      <form ng-submit="selectNsToLoad()">
        <div class="modal-body">
          <p>
            Select a namespace from the list below to be loaded into
            your REPL. When submitting you'll see the documentation
            for this namespace.
          </p>
          <p>
            You can toggle listing of <em>loaded</em> namespaces in the
            checkbox below.
          </p>
          <div class="alert alert-block" ng-show="state.showErrors">
            <h4>Notice!</h4>
            In order to use this feature you must
            add <em>org.clojure/tools.namespace</em>
            and <em>org.clojure/java.classpath</em> to your project
            dependencies. Otherwise you'll get
            a <em>FileNotFoundException</em> error.
          </div>
          <div errors></div>
          <input type="text" class="input-medium" name="searchNsFilter"
                 placeholder="Filter namespaces" ng-model="searchNsFilter"/>
          <label class="checkbox inline">
            <input type="checkbox" ng-model="showAllNses">
            Show loaded namespaces
          </label>
          <select class="input-xxlarge" size="8" ng-model="state.selectedNs"
                  ng-options="ns for ns in state.allNses | filter:searchNsFilter | removeElements:state.nsList:showAllNses">
          </select>
        </div>
        <div class="modal-footer">
          <button class="btn" data-dismiss="modal" aria-hidden="true">Cancel</button>
          <input class="btn btn-inverse" type="submit" value="Submit"/>
        </div>
      </form>
    </div>
  </body>
</html>
