/target
/lib
/classes
/checkouts
pom.xml
*.jar
*.class
.lein-deps-sum
.lein-failures
.lein-plugins
/node_Modules/
/Procfile
/tmp/
/vendor/
/resources/public/js/*.js
/resources/public/css/app.css
/resources/public/test/
/.emacs.desktop*
